.regiBox{
    margin-top: 20px;
    border: 1px solid red;
    height: 400px;
    width: 300px;
    margin-inline:auto;
    padding: 5px;
    border-radius: 10px;
}
input{
    display: block;
    outline: none;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    gap:10px;
}